
<div class="side-bar">
    <ul>
        <li class="active">
            <a href="../data/index.html">
                <!-- <span class="material-symbols-outlined icon">database</span> -->
                <!-- <span class="material-icons">database</span>   -->
                <!-- <span class="material-symbols-outlined">
                    database
                    </span> -->
                    <!-- <span class="material-icons">face</span> -->
                    <span class="material-symbols-outlined">
                        database
                        </span>
                <!-- <span class="material-icons">database</span> -->
                <span class="tooltip">Daten laden</span>
            </a>

        </li>
        <li>
            <a href="../graph/index.html">
                <span class="material-symbols-outlined icon">monitoring</span>
                <span class="tooltip">Diagramm</span>
            </a>

        </li>
        <li>
            <a href="../table/index.html">
                <span class="material-symbols-outlined icon">table_chart</span>
                <span class="tooltip">Tabelle</span>
            </a>

        </li>

    </ul>
    <ul>
        <li>
            <a>
                <span class="material-symbols-outlined">info</span>
                <span class="tooltip">Hilfe</span>
            </a>

        </li>
    </ul>


</div>
<!-- <div class="content">
        <img src="../assets/img/mflogo.png" alt="Mefus und Frisch Logo" height="25%">
        <p>Ich bin content</p>

    </div> -->