@import 'material-icons/iconfont/material-icons.scss';
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	box-sizing: content-box;
}
// body {
// 	background-color: #f5f6f8;
// 	overflow: hidden;
// }
// .page {
// 	height: 100vh;
// 	width: 100%;
// 	display: flex;
// 	flex-direction: row;
// }
.side-bar {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 80px;
	background-color: #242424;
	justify-content: space-between;
	ul {
		text-align: center;
		color: white;
		li {
			padding: 28px 0;
			cursor: pointer;
			transition: all ease-out 120ms;
			.tooltip {
				display: inline-block;
				position: absolute;
				background-color: #242424;
				padding: 8px 15px;
				border-radius: 3px;
				margin-top: 0px;
				left: 90px;
				opacity: 0;
				visibility: hidden;
				font-size: 13px;
				letter-spacing: 0.5px;
				&:before {
					content: "";
					display: block;
					position: absolute;
					left: -4px;
					top: 10px;
					transform: rotate(45deg);
					width: 10px;
					height: 10px;
					background-color: inherit;
				}
			}
			&:hover {
				background-color: #303030;
				.tooltip {
					visibility: visible;
					opacity: 1;
				}
			}
		}
		li.active {
			background-color: #303030;
			i {
				color: #98d7ec;
			}
		}
	}
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
	&:focus {
		text-decoration: none;
		color: inherit;
	}
	&:active {
		text-decoration: none;
		color: inherit;
	}
}
// .content {
// 	margin: 0 auto;
// }
